PORT=3000
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/db
JWT_SECRET=change-me
ADMIN_USER=havsor10
ADMIN_PASS_HASH=$2b$10$7jYkYKKTzaDPNaU70c.mbu2iHMdmY9NXT5hVaS22YjUFCjDFKf4CO
SMTP_USER=you@example.com
SMTP_PASS=app-password
NETLIFY_ORIGIN=https://your-netlify-app.netlify.app
RENDER_API_URL=https://your-render-backend.onrender.com
